{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item ">
      <img src="../static/image/image_01.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item active">
      <img src="../static/image/image_02.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../static/image/image_03.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<h1>Hello welcome to food rescue</h1>
{% endblock %}
